<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vincent.libary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.common.libary.service.JulieService"
            android:enabled="true"
            android:persistent="true"
            android:priority="1000"
            android:process="julie.main.JulieService"
            android:exported="true"/>
        <service
            android:name="com.common.libary.service.KillNotifacationService"/>
        <service
            android:name="com.common.libary.service.ProtectService"
            android:enabled="true"
            android:persistent="true"
            android:priority="1000"
            android:process="julie.main.ProtectService"
            android:exported="true"/>
        <service
            android:name="com.common.libary.service.JobCastielService"
            android:enabled="true"
            android:persistent="true"
            android:priority="1000"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name="com.common.libary.receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.common.libary.receiver.MyCustomBroadcastReceiver">
            <intent-filter>//
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="custom_broadcast_receiver"/>
                <action android:name="android.hardware.action.NEW_PICTURE"/>//用户点击拍照的时候的广播 这广播是在文件生成的时候发出的
                <data android:mimeType="image/*" />
                <action android:name="android.hardware.action.NEW_VIDEO"/>
                <data android:mimeType="video/*" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
